<!DOCTYPE html>
<html>
  <head>
    <title> Brandon Ramirez Curriculum</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
  </head>
  <body>
<img class="perfil" src="images/squirtle.jpg" width="100">
<h2 class="colorborde">Brandon Samuel Ramirez Ferrer</h2>

 <section>
<article class="orden">

  <h2>Datos Personales</h2>
  <p>Estado Aragua, Municipio Zamora-Villa de Cura</p>
  <p>Codigo Postal:2126</p>
  <p>Número Telefonico:04124345786</p>
  <p>Correo Electonico: br8205604@gmail.com</p>
  <p>Tipo de Sangre: A+</p>
  <p>Cédula de identidad: V30327526</p>

  <h2>Objetivos</h2>
  <li>Graduarme como ingeniero en sistemas</li>
  <li>Desarrollar o evolucionar a mayor medida mi tesis</l>
  <li>Solicitar o buscar un trabajo en base mis habilidades </li>
  <li>Como un poroyecto personal, empezar el desarrollo de mi propio videojuego</li>

  <h2>Educacion</h2>
  <p>ESTUDIANTE DE LA UNIVERSIDAD NACIONAL EXPERIMENTAL ROMULO GALLEGOS DE SAN JUAN DE LOS MORROS</p>

  <li>Area General de estudio: Ingenieria en Sistemas</li>
  <li>Habilidades: Conocimientos en lenguajes de programacion, informaticos y base de datos tales como MySQL, C++, HTML, CSS </li>


  <p>BACHILLER DE LA U.E.P NIÑOS CANTORES DE VILLA DE CURA | (2012-2020)</p>

  <li>Area General de estudio: Educacion Musical</li>
  <li>Habilidades: Conocimiento y Practica Musical e Instrumental</li>


  <h2>Aptitudes y Habilidades</h2>
  <li>Conocimiento de Computacion</li>
  <li>Conocimiento en lenguajes de programacion como C++, MySQL, Java Script</li>
  <li>Aprendiz en Lenguajes informaticos como CSS y HTML</li>
  <li>Aprendiz como editor de Videos</li>


  <div class="formulario">
  <form action="/completeform" id="/contacto-form" method="post">
                      
    <label for="nombre">Nombre:</label>
    <input type="text" id="name" name="name" placeholder="Ingresa tu nombre" required>
    
    
    
      <label for="Email">Correo Electrónico:</label>
    <input type="email" id="email" name="email" placeholder="Ingresa tu correo Electrónico" required>

    

    <label for="comentario">Comentarios</label>
    <input type="text" id="mensaje" name="mensaje" placeholder="Ingresa tu comentario" required>

    

    <input type="submit" class="move" id="enviar">
  </div>
</article>
</section>












</body>
</html>
